﻿* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../Pictures/cartBg.jpg");
    background-repeat: repeat-y;
    min-height: 100vh;
    background-size: auto 100%;
    background-color: white;
    width: 90%;
}

.Labels {
    position: absolute;
    top: 162px;
    left: 1145px;
    margin-top: 19px;
}

table {
    position: absolute;
    top: 100px;
    left: 420px;
    width: 650px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #ffc0cb;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    padding: 1%;
}

.Buttons {
    position: absolute;
    top: 157px;
    left: 1147px;
    margin-top: 47px;
    background: #808080;
    color: #ffc0cb;
    border: none;
}
.removeBtn {
    margin: -21px -20px -21px -20px;
    border: none;
    background: #808080;
    color: #ffc0cb;
    width: 101px;
    height: 217px;
}
#lblCartTitle {
    position: absolute;
    font-family: 'Fredericka the Great', cursive;
    left: 411px;
    top: 39px;
}

#tblCart {
    position: absolute;
    left: 448px;
    top: 160px;
}
