﻿*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../Pictures/catalogBg.jpg");
    background-repeat: repeat-y;
    min-height: 100vh;
    background-size: auto 100%;
    background-color: white;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    position: absolute;
    table-layout: fixed;
    left: 400px;
    top: 150px;
    width: 70%;
}

tr {
    display: inline-block;
    margin: 1%;
    border: 1px solid #ffc0cb;
    padding-top: 1%;
    padding-bottom: 1%;
}

td {
    display: block;
    width: 230px;
}

.Labels{
    position:absolute;
    left: 413px;
    top: 124px;
}

.Buttons{
    background-color: #ffc0cb;
    color: #808080;
    border: none;
    padding: 1px;
    width: 231px;
    height: 70px;
    margin-right: 0;
    margin-left: -2px;
    margin-bottom: -12px;
}

.lblpName{
    font-weight: bold;
}

#lblCatalog {
    position: absolute;
    font-family: 'Fredericka the Great', cursive;
    left: 411px;
    top: 50px;
}