﻿* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
}

.Labels {
    position: absolute;
    top: 162px;
    left: 1145px;
    margin-top: 19px;
}

.Buttons {
    position: absolute;
    top: 157px;
    left: 1147px;
    margin-top: 47px;
}

#lblCheckOut {
    position: absolute;
    font-family: 'Fredericka the Great', cursive;
    left: 30px;
    top: -10px;
}

#customerInfo {
    display: block;
    position: absolute;
    top: 371px;
    left: 15px;
    height: 700px;
    width: 1200px;
}

#odInfo {
    display: block;
    position: absolute;
    top: 102px;
    left: 14px;
    height: 250px;
    width: 1200px;
}