﻿* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
    background-image: url('../Pictures/custBg.jpg');
    background-repeat: repeat-y;
    min-height: 100vh;
    background-size: auto 100%;
}

.Buttons {
    position: absolute;
    top: 597px;
    width: 113px;
    height: 51px;
    background-color: white;
    border: 2px solid #ffc0cb;
    right: 833px;
    margin-bottom: 10px;
}

.Labels {
    position: absolute;
    left: 360px;
}

.TextBoxs {
    position: absolute;
    left: 522px;
    border-bottom: 2px solid #808080;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
}

#lblTitle {
    font-family: 'Fredericka the Great', cursive;
}

#btnVerify {
    background-color: #ffc0cb;
    color: #808080;
    height: 52px;
}
