﻿body {
    background-image: url('../Pictures/veganScallop.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 99%;
}

.MainPanel {
    position: absolute;
}

.Buttons {
    position: absolute;
    height: 55px;
    width: 170px;
    border: none;
    background-color: white;
    border-left: 3px solid #ffc0cb;
    font-size: 13px;
}

.Labels {
    position: absolute;
    font-family: 'Fredericka the Great', cursive;
}

#contentFrame {
    height: 729px;
    width: 1243px;
}
