﻿*{
    box-sizing:border-box
}

body {
    padding:0;
    margin: 0;
}

.CellStyle{
    position: absolute;
    top: 110px;
    left: 54px;
}

.Labels{
    position: absolute;
    top: 113px;
    left: 673px;
    margin-top: 0px;
}

.Buttons{
    position: absolute;
    top: 190px;
    left: 307px;
    background-color: #ffc0cb;
    border: none;
    color: dimgray;
    padding: 10px;
}

.Checkboxes{
    position:absolute;
    top: 144px;
    left: 671px;
}

#lblOrderDetail {
    font-family: 'Fredericka the Great', cursive;
}