﻿* {
    box-sizing: border-box;
}

body {
    background-color: white;
    background-image: url("../Pictures/productBack.jpg");
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: auto 100%;
}

.Labels{
    position: absolute;
    left: 739px;
}

.TextBoxs {
    position: absolute;
    left: 912px;
    border: none;
    border-bottom: 2px solid #ffc0cb;
}

.Buttons {
    position: absolute;
    top: 580px;
    width: 137px;
    height: 41px;
    background-color: white;
    border: 2px solid #808080;
    }

.Images {
    position: absolute;
    left: 445px;
}

.DropDowns {
    position: absolute;
    left: 737px;
    top: 494px;
    width: 251px;
    height: 25px;
}

#lblProducts {
    position: absolute;
    font-family: 'Fredericka the Great', cursive;
    left: 441px;
}

#btnVerify {
    background-color: #808080;
    color: white;
}