﻿* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('../Pictures/promobg.JPG');
    background-repeat: repeat-y;
    min-height: 100vh;
    background-size: auto 100%;
    background-color: white;
    width: 90%;
}

.Labels{
    position:absolute;
    font-size: 18px;
    color:#333333;
    top: 72px;
    left: 529px;
    height: 20px;
    width: 335px;
}

#lblPromo {
    position: absolute;
    font-family: 'Fredericka the Great', cursive;
    left: 355px;
    top: 61px;
    font-size: 50px;
}

table {
    position: absolute;
    left: 355px;
    top: 150px;
    width: 850px;
    height: 600px;
    border-collapse: collapse;
}

th, td {
    border-bottom: 2px solid #ffc0cb;
    border-top: 2px solid #ffc0cb;
    padding: 5px;
}

.tbl {
    border-collapse: separate;
    border-spacing: 0 15px;
} 

table img{
    width: 295px;
    height: 167px;
}

.PromoTitle{
    width: 300px;
    text-align:center;
    font-weight:bold;
    font-size: 20px;
    color: #ffc0cb;
}

.PromoDes{
    width:450px;
    text-align:center;
    color: #333333;
}

#wrap{
    width:852px;
    height:100px;
    background-color: #ffc0cb;
    position:absolute;
    top: 764px;
    left: 355px;
    margin-bottom: 11px;
}

div img{
    position: absolute;
    top: 13px;
    left: 904px;
    height: 50px;
    width: 55px;
}

