﻿* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../Pictures/cartBg.jpg');
    background-repeat: repeat-y;
    min-height: 100vh;
    background-size: auto 100%;
    background-color: white;
    width: 37%;
}

.labels {
    position: absolute;
    font-family: 'Fredericka the Great', cursive;
}

.grid {
    position: absolute;
    top: 565px;
    left: 457px;
    width: 747px;
    text-align: center;
    font-family: 'Times New Roman';
}

.Tag1{
    width:10px;
    background: pink;
}

.Tag2{
    width:150px;
    font-size: 15px;
}

.Tag3{
    width: 10px;
}
.Tag4{
    width: 300px;
}

.Tag5 {
    width: 10px;
}